<nav>
    <a href="/">
        Home
    </a>
    <a href="/views/userSignUp">
        <button>User Sign Up</button>
    </a>
    <a href="/views/businessSignUp">
        <button>Register as a business</button>
    </a>
    <a href="/views/auth">
        <button>Sign in</button>
    </a>
</nav>