<html ng-app="business">
<head>
    <script src="https://rawgit.com/angular/bower-angular/master/angular.min.js"></script>
    <script src="../javascripts/business.js"></script>
    <title>
        Home
    </title>
</head>

<body>

<div ng-controller="productsController">
    <a href="addProduct">
        <button>Add product!</button>
    </a>
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Price</td>
        </tr>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="product in products">
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.business_id}}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>