<html ng-app="home">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script src="../javascripts/home.js"></script>
    <script src="../javascripts/session.js"></script>
    <script src="../javascripts/purchase.js"></script>
    <script src="../javascripts/token.js"></script>
    <% include /partials/homeHeader %>
    <title>
        Quick - Login
    </title>
</head>

<body>

<div>
    <div ng-controller="HomeController">
        Recent Purchases.
        <table>
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="purchase in purchases">
                <td>{{purchase.id}}</td>
                <td>{{purchase.businessID}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
