<!DOCTYPE html>
<html ng-app="home">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <% include /imports/homeImport %>
  <% include /partials/homeNavBar %>
  <title>Quick - Home</title>
</head>
  
<body>
    <h3>Recent Purchases</h3>
        <div class="container" ng-controller="HomeController">
            <div ng-repeat="purchase in purchases">
                <div class="qWrapper">
                    <div class="qContainer">
                        <div class="row purchaseItem">
                            <div class="col-md-8 col-xs-6 title">{{purchase.productName}}</div>
                            <div class="col-md-3 col-xs-5 time">10 Jan, 15:13</div>
                        </div>
                    <hr>
                    <div class="row purchaseItem">
                        <div class="col-md-8 col-xs-6 name">{{purchase.businessName}}</div>
                        <div class="col-md-3 col-xs-5 price">€{{purchase.productPrice}}</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>