<html ng-app="index">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="javascripts/index.js"></script>
    <% include partials/header %>
    <title>
        Index Page
    </title>
</head>

<body>


<div ng-controller="indexController">
    <h1>{{welcomeMessage}}</h1>

    <a href="views/userSignUp">
        <button>User Sign Up</button>
    </a>
    <a href="views/businessSignUp">
        <button>Register as a business</button>
    </a>
    <a href="views/auth">
        <button>Sign in</button>
    </a>
</div>
</body>
</html>