<html ng-app="businessOrders">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script src="../javascripts/session.js"></script>
    <script src="../javascripts/token.js"></script>
    <script src="../javascripts/businessOrders.js"></script>
    <script src="../javascripts/orders.js"></script>
    <% include /partials/businessHeader %>
    <title>
        Quick - Orders
    </title>
</head>

<body>

<div ng-controller="BusinessOrdersController">
    Orders.
    <table>
        <thead>
            <tr>
                <td>Purchase ID</td>
                <td>Product ID</td>
                <td>Name</td>
                <td>Price</td>
            </tr>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="purchase in purchases">
                <td>{{purchase.purchaseID}}</td>
                <td>{{purchase.productID}}</td>
                <td>{{purchase.productName}}</td>
                <td>{{purchase.productPrice}}</td>
            </tr>
            </tbody>
        </table>
</div>

</body>
</html>
