<html ng-app="businessHome">
<head>
    <% include /imports/angularJS %>
    <% include /imports/auth0-jwt %>
    <% include /imports/jQuery %>
    <% include /imports/bootstrap %>
    <% include /partials/navBar %>
    <% include /partials/businessHeader %>
    
    <script src="../javascripts/businessHome.js"></script>
    <script src="../javascripts/session.js"></script>
    <script src="../javascripts/token.js"></script>
    <title>Quick - Business</title>
</head>

<body>

<div ng-controller="BusinessHomeController">

</div>
</body>
</html>
