<!DOCTYPE html>
<html ng-app="orders">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <% include /imports/jQuery %>
  <% include /imports/angularJS %>
  <% include /imports/auth0-jwt %>
  <% include /imports/bootstrap %>
  <% include /partials/businessNavBar %>
  
  <script src="/javascripts/session.js"></script>
  <script src="/javascripts/orders.js"></script>  
  <script src="/javascripts/ordersController.js"></script>
  <link href="/stylesheets/container.css" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/orders.css" rel="stylesheet" type="text/css" />
  <title>Quick - Orders</title>
</head>

<body>
  <div ng-controller="OrdersController">
  <h3 class="page-heading">{{businessName}}'s Orders</h3>
  <p class="page-heading">{{statusMessage}}</p>
  
  <!--addworkers form-->
  <div class="container">
  <button class="display-button">Hide</button>
  <form class="col-lg-3 col-md-5 col-xs-12">
    <div class="form-group">
      <label for="worker">Add Employee</label>
      <input type="text" class="form-control" id="addWorker" placeholder="Employee ID">
    </div>
    <div class="form-group">
      <label for="worker">Multitask</label>
      <input type="text" class="form-control" id="addWorker" placeholder="Multitask">
    </div>
    <button type="submit" class="btn btn-default">Add Employee</button>
  </form>
  </div>

  <div class="container" ng-repeat="order in orders">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">Order: {{order.id}}</div>
    </div>
    <hr> 
    <div class="row" >
      <div class="col-md-12 col-xs-12"><b>Product:</b> {{order.product.name}}</div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 col-xs-12">Cost: <b>€{{order.cost}}</b></div>
      <div class="col-md-12 col-xs-12"><b>Created</b>{{order.createdAt}}</div>
      <div class="col-md-12 col-xs-12"><b>Release:</b>{{order.release}}</div>
      <div class="col-md-12 col-xs-12"><b>Deadline:</b>{{order.deadline}}</div>
      <div class="col-md-12 col-xs-12"><b>Assigned To:</b>{{order.workerID}}</div>
    </div>
    <hr>
    <div class="row pull-right btns">
      <button type="button" class="btn btn-success">Finish</button>
    </div>
  </div>
  </div>
</body>
</html>