<!DOCTYPE html>
<html ng-app="prediction">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <% include /imports/jQuery %>
  <% include /imports/angularJS %>
  <% include /imports/auth0-jwt %>
  <% include /imports/bootstrap %>
  <% include /partials/businessNavBar %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>
  <script src="/javascripts/vis.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css" rel="stylesheet" type="text/css">
  <script src="/javascripts/session.js"></script>
  <script src="/javascripts/prediction.js"></script>
  <script src="/javascripts/predictionController.js"></script>
  <link href="/stylesheets/container.css" rel="stylesheet" type="text/css" />
  
  <title>Quick - Predictions</title>

  <body ng-controller="PredictionController">
    <h3 class="page-heading">{{businessName}} Orders Prediction Data</h3>
    <div>
      <div class="container">
        <vis-graph2d data="data" options="options"></vis-graph2d>
      </div>
    </div>
  </body>
</head>