<html ng-app="businessOrders">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <% include /imports/angularJS %>
  <% include /imports/auth0-jwt %>
  <% include /imports/jQuery %>
  <% include /imports/bootstrap %>
  <% include /partials/navBar %> 

  <script src="../javascripts/session.js"></script>
  <script src="../javascripts/token.js"></script>
  <link href="../stylesheets/container.css" rel="stylesheet" type="text/css" />
  <title>Quick - Orders</title>
</head>

<body>
  <table class="table table-bordered">

  </table>
</body>