
hr {
  width: 90%;
  margin-top: 0%;
  margin-bottom: 0%;
}

html {
  height: 100%;
}

body {
  background-color: #F8F8F8;
  height: 100%;
}

.purchaseItem {
  font-family: "Avenir";
  color: #808080;
}

.title {
  margin-left: 5%;
  font-family: "Avenir-Heavy";
  font-size: 150%;
}


.time {
  font-family: "Avenir-Light";
  text-align: right;
  color: #808080;
}

.name {
  margin-left: 5%;
}

.id {
  margin-left: 5%;
}

.price {
  text-align: right;
  font-family: "Avenir-Heavy";
  font-size: 200%;
  margin-right: 2%
}



